nav.navbar {
  position: relative;
  z-index: 1;
  padding: 50px;
  background-color: rgb(55, 37, 219);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav.navbar a.link {
  color: white;
  /*Position in the center*/
  margin: 10px;
  text-align: center;
}
nav.navbar img.icon {
  /*Position Left*/
  position: absolute;
  left: 0;
  margin-left: 30px;
}
nav.navbar button.login {
  /*Position Left*/
  position: absolute;
  right: 0;
  margin-right: 30px;
  background-color: rgb(49, 9, 114);
}

@media screen and (max-width: 600px) {
  nav.navbar {
    flex-direction: column;
  }
  nav.navbar a.link {
    margin: 10px 0;
  }
  nav.navbar img.icon {
    margin-left: 0;
    margin-top: 10px;
  }
  nav.navbar button.login {
    margin-right: 0;
    margin-top: 10px;
  }
}
